body {
    height: 100vh;
}
*, h1, p {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
    font-size: 1.4rem;
}

nav {
    border-bottom: solid 0.5px black;
}
nav, nav div{
    background-color: #c9c9c9;
}
nav a {
    color: #941e00;
}
nav li {
    border: solid 2px #ad2300;
    background-color: #b3b3b3;
    margin-left: 2px;
    margin-right: 2px;
}

nav a.navbar-brand {
    font-weight: bold;
}

nav .active {
    font-weight: bolder;
}

body, div#main-content.container-fluid * {
    background-color: #dfdce3;
}
p {
    font-size:xx-large;
}

span.emphasis {
    color:red;
}

.static {
    cursor: not-allowed;
}

.draggable {
    cursor: move;
}

.diagram-text  {
    font-size: 5pt;
}

svg rect {
    fill: turquoise;
    fill-opacity: "0.1";
}

foreignObject * {
    pointer-events: none;
}

div.right-code, div.right-text {
    height: 50%;
    display: flex;
}
div#svg-div{
    overflow: auto;
    height: 100%;
    width: 100%;
}
svg {
    overflow-y: auto;
    height:93vh;
    padding: 5px;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf;
}

::-webkit-scrollbar-thumb {
    background: #941e00;
}

.fade-in {
    animation: fadeIn ease-in 1.5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
